<!-- Android -->
<ion-header [translucent]="true">
  <ion-toolbar color="primary" id="head">
    <ion-title id="fonta">
      Check
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- Android -->

<!-- IOS -->
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary" id="head">
      <ion-title id="fonti">Check</ion-title>
    </ion-toolbar>
  </ion-header>
<!-- IOS -->

  <div id="input">
    <h1>
      Login
    </h1>
      <ion-item>
        <ion-label>User</ion-label>
        <ion-input type="text" placeholder="Username" [(ngModel)]="user"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Password</ion-label>
        <ion-input type="password" placeholder="Passwords" [(ngModel)]="password"></ion-input>
      </ion-item>
    <br>
      <ion-button color="success" (click)="login(user,password)">เข้าสู่ระบบ</ion-button>
    <br>
      <a (click)="regis()">Register</a>

  </div>
</ion-content>


