body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
.user_card {
  background-image: url("./logo_background.jpg");
}

canvas {
  position: fixed;
  background-color: #545454;
}

.custom-control-label,
.justify-content-center {
  color: white;
}

.brand_logo_container {
  position: absolute;
  height: 170px;
  width: 170px;
  top: -75px;
  border-radius: 50%;
  background: #545454;
  padding: 10px;
  text-align: center;
}
.brand_logo {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 2px solid white;
}
.form_container {
  margin-top: 100px;
}
.login_btn {
  width: 100%;
  background: #ecba37 !important;
  color: white !important;
}
.login_btn:hover {
  width: 100%;
  background: #f1c95f !important;
  color: white !important;
}
.login_btn:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.login_container {
  padding: 0 2rem;
}
.input-group-text {
  background: #ecba37 !important;
  color: white !important;
  border: 0 !important;
  border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_user,
.input_pass:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #f1c95f !important;
}
