@import "https://fonts.googleapis.com/css?family=Lato:100";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: "Lato", Arial, sans-serif;
}
section{
    width: 100%;
    height: 100vh;
    color: #fff;
    background: linear-gradient(-45deg,Turquoise,	Lightsteelblue,Lightskyblue,	Mediumslateblue);
    background-size: 400% 400%;
    position: relative;
    animation: change 10s ease-in-out infinite;
}

@keyframes change{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}