#RewriteEngine on
#RewriteCond %{HTTPS} off

#redirect http://ex.com to https://ex.com
#RewriteCond %{HTTP_HOST} ^computer-science-cru.ml$
#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

#redirect http://www.ex.com / https://www.ex.com to https://ex.com
#RewriteCond %{HTTP_HOSTS} ^www.computer-science-cru.ml$ [NC]
#RewriteRule (.*) https://computer-science-cru.ml [R=301,L]